@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Willow";
  src: url(/fonts/Willow.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}